
.icon-dropdown{
    width: 8px;
    height: 5px;  
    background-position: -564px -365px;   
}
.btn-dropdown{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 16px;
    border: 2px solid ;
    color: #111;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    font-family: notosans semibold;
    outline: none;
}
.btn-dropdown:hover{
    background-color: #d2d3d6;
}
.btn-dropdown:active{
    border: 2px solid #3b3c3f;
    background-color: #bbbcbc;
}
